/* Extra small devices (portrait phones, less than 576px) */
@media (max-width:575.98px){
  /* Header media css */
  .header_img{
    height:1000px;
    width:100%;
  }
  /* Section 1 media css */
  .section_one{
    width:100%;
  }
  .heading_section{
    margin-left:0%;
  }
  .text_section{
    margin-left:0%;
  }
  /* Nature media css */
  .nature_img{
    width:100%;
    height:600px;
  }
  .nature_text{
    padding-top:300px;
  }
  /* Section 2 media css */
  .section_two{
    width:100%;
    height:330px;
  }
  .text_section_two{
width:100%;
  }
  .text_section_two p{
    margin-left:0%;
  }
/* Deep media css */
  .deep_img{
    width:100%;
    height:600px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width:576px) and (max-width:767.98px){
    /* Header media css */
  .header_img{
    height:1000px;
    width:100%;
  }
    /* Section 1 media css */
  .section_one{
    width:100%;
  }
  .heading_section{
    margin-left:0%;
  }
  .text_section{
    margin-left:0%;
  }
    /* Nature media css */
  .nature_img{
    width:100%;
    height:600px;
  }
  .nature_text{
    padding-top:300px;
  }
    /* Section 2 media css */
  .section_two{
    width:100%;
    height:250px;
  }
  .text_section_two{
width:100%;
  }
  .text_section_two p{
    margin-left:0%;
  }
  /* Deep media css */
  .deep_img{
    width:100%;
    height:600px;
  }
}
 

/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) and (max-width:991.98px){
     /* Header media css */
  .header_img{
    height:1000px;
    width:100%;
  }
      /* Section 1 media css */
  .section_one{
    width:100%;
  }
  .heading_section{
    margin-left:0%;
  }
  .text_section{
    margin-left:0%;
  }
    /* Nature media css */
  .nature_img{
    width:100%;
    height:600px;
  }
  .nature_text{
    padding-top:300px;
  }
  /* Deep media css */
  .deep_img{
    width:100%;
    height:600px;
  }
}


/* Large devices (desktops, 992px and up) */
@media (min-width:992px) and (max-width:1199.98px){
     /* Header media css */
  .header_img{
    height:1000px;
    width:100%;
  }
    /* Nature media css */
  .nature_img{
    width:100%;
    height:600px;
  }
  .nature_text{
    padding-top:300px;
    padding-bottom:20px;
  }
  /* Deep media css */
  .deep_img{
    width:100%;
    height:600px;
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width:1200px) and (max-width:1399.98px){}


/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width:1400px){}
