*{
  margin:0;
  padding:0;
}
/* Google Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}
/* Header section CSS */
.header_img{
 background-image:url(img/parallax/image1.png);
  width:100%;
  height:1000px;
}
.header_text{
  text-align:center;
  padding-top:500px;
}
.header_text span{
  color:white;
  font-size:35px;
  background-color:#313534;
  padding:20px 20px;
  font-weight:1;
}
/* Header section CSS */
/* Section 1 CSS */
.section_one{
  width:85%;
  text-align: center;
  background-color:white;
  margin-bottom: 20px;
  margin-top:10px;
}
/* Heading section */
.heading_section{
  margin-left:13%;
}
.heading_section h1{
  color:#898989;
  font-size:35px;
  font-weight:5;
}
/* Heading section */
/* Text section */
.text_section{
  margin-left: 10%;
  margin-top:10px;
}
.text_section p{
  color:#898989;
  letter-spacing:1px;
}
/* Text section */
/* Section 1 CSS */
/* Nature section CSS */
.nature_img{
  background-image:url(img/nature/image2.png);
  width:100%;
  height:600px;
}
/* Nature section text */
.nature_text{
  text-align: center;
  padding-top:22%;
}
.nature_text span{
  color:white;
 font-size:40px;
   font-weight:6;
   background-color: #00000065;
   padding:20px 20px;
}
/* Nature section text */
/* Nature section CSS */
/* Section 2 CSS */
.section_two{
  background-color: #313534;
   width:100%;
   height:220px;
  text-align: center;
}
/* Heading section two */
.heading_section_two h1{
  padding-top:20px;
  padding-bottom:10px;
  color:#898989;
  font-weight:5;
}
/* Heading section two */
/* Text section two */
.text_section_two{
  width: 90%;
}
.text_section_two p{
letter-spacing:1px;
    color:#898989;
    margin-left:50px;
}
/* Text section two */
/* Section 2 CSS */
/* Deep section CSS */
.deep_img{
  background-image:url(img/deep/image3.png);
 width:100%;
  height:500px;
}
.nature_text span{
  font-size:35px;
}
/* Deep section CSS */