*{
  margin:0;
  padding:0;
}
body{
font-family:lato,;
}
/* Header CSS  */
.header{
  text-align: center;
}
/* Header img */
.header img{
 width:90%;
height: 500;
}
/* Header img */
/* Header text */
.header_text{
  background:#313534;
width:540px;
height: 77px;

}
.header_text h1{
  padding:22px;
}
/* Header text */
/* Header CSS  */